node_modules
/contents/speakers/*
/contents/team/*
/contents/mcs/*
/contents/sponsors/*
/contents/images/speaker/*
/contents/images/speaker/temp/*
/contents/talks/*-PREVIEW.md
/build
.\#*
.DS_Store
/.wwwtfrc
/service-account-credentials.json
/secrets.tar
