<footer class="footer bg--evalblack">
  <div class="tc">
    <a class="link--white link--footer" href="https://twitter.com/jsconfeu">Twitter</a>
    <a class="link--white link--footer" href="https://www.youtube.com/jsconfeu">YouTube</a>
    <a class="link--white link--footer" href="https://confirmsubscription.com/h/d/82029683ADB683FB">Newsletter</a>
    <a class="link--white link--footer" href="/sponsors">Sponsor Information</a>
    <a class="link--white link--footer" href="/scholarships">Scholarships</a>
    <a class="link--white link--footer" href="/code-of-conduct/">Code of Conduct</a>
  </div>
</footer>
