<footer class="footer bg--evalblack">
  <a class="link--white" href="https://twitter.com/jsconfeu">Twitter</a>
  <a class="link--white" href="https://www.youtube.com/jsconfeu">YouTube</a>
  <a class="link--white" href="https://confirmsubscription.com/h/d/82029683ADB683FB">Newsletter</a>
  <a class="link--white" href="mailto:contact@jsconf.eu">Sponsor Information</a>
  <a class="link--white" href="/code-of-conduct/">Code of Conduct</a>
</footer>
