<div class="grid mt3">
  <div class="grid-item-center">
    {% include './speaker-picture.html.njk' %}

    <header class="speaker-talk">
      <h2 class="heading--spaced heading--no-border">{{ speaker.talkTitle }}</h2>
    </header>

    {{ page.html }}

    <ul>
      {% if speaker.links.twitter %}
        <li class="twitter"><a href="{{ speaker.links.twitter }}">Twitter: {{ speaker.twitterHandle }}</a></li>
      {% endif %}
      {% if speaker.links.github %}
        <li class="github"><a href="{{ speaker.links.github }}">GitHub: {{ speaker.githubHandle }}</a></li>
      {% endif %}
      {% if speaker.links.homepage %}
        <li class="github"><a href="{{ speaker.links.homepage }}">Website</a></li>
      {% endif %}
    </ul>
  </div>
</div>
