<div class="topbar bg--evalblack">
  <a href="/" class="topbar-logo" title="Home">
    JSConf EU
    <span>June 2nd & 3rd 2018</span>
  </a>
  <div class="flex items-center">
    <nav id="topbar-nav" class="topbar-nav">
      <a href="#" class="link--white">Call for Speakers</a>
      <a href="#" class="link--white">Code of Conduct</a>
      <a href="#" class="link--white">Sponsors</a>
      <a href="#" class="link--white">YouTube</a>
      <a href="#" class="link--white">Twitter</a>
    </nav>
    <a href="#" class="btn btn--undefinedpurple btn--topbar">Buy Ticket</a>
    <button id="topbar-toggle" type="button" class="topbar-toggle" title="Toggle Navigation">
    </button>
  </div>
</div>
