{% extends "../layouts/default.html.njk" %}

{% block content %}

  <div>
    {{ contents.copy.cfs['open-until.md'].html }}
  </div>

  <div>
    {{ contents.copy.cfs['topics.md'].html }}
  </div>

  <div>
    {{ contents.copy.cfs['we-can-help.md'].html }}
  </div>

{% endblock %}
