{% extends "../layouts/default.html.njk" %}

{% block content %}
  <section class="tc">
    logo
    <p>
      June 2nd & 3rd 2018
      <br>
      Berlin, Germany
    </p>

    <p class="date">
      JSConf EU is the labour-of-love conference for the JavaScript community in Europe.
    </p>

    <a href="#" class="btn">
      Buy Ticket
    </a>
  </section>

  <section>
    <h2 class="heading--massive">
      Call for Speakers
    </h2>

    <h3 class="heading--spaced">
      Open until
      <br>
      January 1, 2018
    </h3>

    <p>
      Our Call for Speakers is open now. <a href="#" class="link--underline">Read more</a>
    </p>
  </section>

  <section>
    <h2 class="heading--massive">
      People First. Always.
    </h2>

    <h3 class="heading--spaced">
      Code of Conduct
    </h3>

    <p>
      All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. <a href="#" class="link--underline">Read the Code of Conduct</a>
    </p>

    <a href="#" class="link--tertiary">Tertiary nav link</a>
  </section>

{% endblock %}
