{% extends "../layouts/default.html.njk" %}

{% set newsList = contents.news._.pages |
      notRedirect |
      notDraft |
      sortObjects('metadata.date', '2017-01-01', 'date') |
      reverse %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center">
      {% for news in newsList %}
        <article>
          <a href="{{ news.url }}">
            <h2>{{ news.title }}</h2>
            {{ news.html | striptags | truncate('150') }}
            <a href="{{ news.url }}" class="link--underline">Read more</a>
          </a>
        </article>
      {% endfor %}
    </div>
  </section>

{% endblock %}
