{% extends "../layouts/default.html.njk" %}

{% block content %}
  <h1>{{ speaker.fullName }}</h1>

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ page.html }}
    </div>
  </section>

{% endblock %}
