{% extends "../layouts/default.html.njk" %}

{% block content %}
  <article class="grid">
    <div class="grid-item-center md-content">
      {{ page.html | contentUrls(contents) }}

      {% if page.metadata.imageGallery %}
        {% for file in page.metadata.imageGallery.files %}
          {% set image = contents.images[page.metadata.imageGallery.directory][file] %}
          <p>
            <a href="{{ image.url }}" target="_blank" class="link--nounderline responsive-image-wrapper"
                style="padding-top:{{ image.getImageInfo().aspectPercentage }}%">
              <img id="{{ file }}" src="{{ image.url }}">
            </a>
          </p>
        {% endfor %}
      {% endif %}
    </div>

    <div class="grid-item-center">
      <a href="https://ti.to/jsconfeu/jsconf-eu-2018" class="btn buy-ticket">Buy Ticket</a></p>
    </div>
  </article>
{% endblock %}
