{% extends "../layouts/default.html.njk" %}

{% set newsList = contents.news._.pages |
      notDraft |
      sortObjects('metadata.date', '2017-01-01', 'date') |
      reverse %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center md-content">
      {% for news in newsList %}
        <article>
          <h2>{{ news.title }}</h2>
          {{ news.html | striptags | truncate('150') }}
          <a href="{{ news.url }}">Read more</a>
        </article>
      {% endfor %}
    </div>
  </section>

{% endblock %}
