{% extends "../layouts/default.html.njk" %}

{% block content %}
  <section class="grid">
    <div class="grid-item-center md-content">
        {{ contents.copy.scholarships['guide.md'].html }}
    </div>
  </section>
{% endblock %}
