{% extends "../layouts/default.html.njk" %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ contents.copy.scholarships['scholarships.md'].html }}
    </div>
  </section>

  <!--
  Closed for this year
  <section class="grid">
    <p class="grid-item-center">
      <a href="https://docs.google.com/forms/d/1MDrrmr825HRmZ3UKJRkr5kZvZMM-uG21yNkseC0keoI/viewform" class="btn">
        Apply for a single conference ticket for JSConf EU
      </a>
    </p>
    <p class="grid-item-center">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScXcDNJZ1uK5VwdnHzqqrRqfQ-sQk_8mewCzPMn2ln2NbmQUQ/viewform" class="btn">
        Apply for a Combo ticket for JSConf EU and CSSconf EU
      </a>
    </p>
  </section>
  -->
{% endblock %}
