{% extends "../layouts/default.html.njk" %}

{% set speakerPages = contents.speakers._.pages |
    sortObjects('metadata.speaker.order', 100, 'number') |
    reverse %}

{% block bodyclass %}page--speakers{% endblock %}
{% block header %}
  {% if page.metadata.title  %}
    <section class="grid">
      <div class="grid-item-left">
        <h1>{{ page.metadata.title }}</h1>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="grid">
    {% for page in speakerPages %}
      <section class="grid-item-speaker">
        <a class="speaker" href="{{ page.url }}">
          {% set speaker = page.metadata.speaker %}
          {% include '../partials/speaker-picture.html.njk' %}

          <h2 class="heading--spaced heading--no-border">{{ speaker.firstname }} {{ speaker.lastname }}</h2>
          <p class="ma0">{{ speaker.talkTitle }}</p>
        </a>
      </section>
    {% endfor %}

    {% for phantom in range(0, 44 - speakerPages.length) %}
      <section class="grid-item-speaker phantom">
        <div class="speaker">
          <figure class="ma0 speaker-picture">
            <img src="{{ contents.images.placeholder['speaker-placeholder-' + (phantom % 6) + '.jpg'].url }}">
          </figure>
          <h2 class="heading--spaced heading--no-border">Coming soon</h2>
          <p class="ma0">To be announced on <a href="https://twitter.com/jsconfeu">@jsconfeu</a></p>
        </div>
      </section>
    {% endfor %}
  </div>

{% endblock %}
