{% extends "../layouts/default.html.njk" %}

{% set speakerPages = contents.speakers._.pages %}

{% block content %}
    <ul>
        {% for page in speakerPages %}
            {% set speaker = page.metadata.speaker %}

            {% include "../partials/talk.html.njk" %}
        {% endfor %}
    </ul>
{% endblock %}