{% extends "../layouts/default.html.njk" %}

{% block content %}
  {% set sponsorTypes = ['double down', 'main', 'supporting', 'community'] %}

  {% for sponsorType in sponsorTypes %}
    {% set sponsors = contents.sponsors._.pages |
      filterObjects('metadata.sponsor.type', sponsorType) |
      sortObjects('metadata.sponsor.order', 100, 'number') %}

    <section class="grid">
      <div class="grid-item-center">
        <h2>Our {{ sponsorType }} sponsors</h2>
        {% for page in sponsors %}
          {% set sponsor = page.metadata.sponsor %}

          <div class="sponsor sponsor--{{ sponsorType | replace(' ', '-') }}" id="{{ sponsor.id }}">
            <a href="{{ sponsor.link }}"
               rel="nofollow"
               target="_blank">
              <img src="{{ contents.images.sponsor[sponsor.image.filename].url }}"
                   alt="{{ sponsor.name }}">
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}

{% endblock %}
