{% extends "../layouts/default.html.njk" %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center">
      {{ contents.copy.sponsors['sponsors.md'].html }}
    </div>
  </section>

{% endblock %}
