{% extends "../layouts/default.html.njk" %}

{% block content %}

  <section class="grid">
    <div class="grid-item-center md-content">
      {{ contents.copy.why['why.md'].html }}
    </div>
  </section>

{% endblock %}