<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ contents.css["main.css"].url }}">
    <script src="{{ contents.js['main.js'].url }}" defer></script>
    <link rel="preconnect" href="https://p.typekit.net">
    <script src="https://use.typekit.net/gug4wmv.js" async onload="try{Typekit.load({ async: true });}catch(e){}"></script>
  </head>
  <body>
    <div class="layout-wrapper">

      {% block topbar %}
        {% include "../partials/topbar.html.njk" %}
      {% endblock %}

      <main class="main-wrapper bg-white page-{{ page.metadata.pageId }}">
        {% block header %}
          {% if page.metadata.title  %}
            <section class="grid">
              <div class="grid-item-center">
                <h1>{{ page.metadata.title }}</h1>
              </div>
            </section>
          {% endif %}
        {% endblock %}

        {% block content %}
          Sorry, nothing to see here 😗
        {% endblock %}
      </main>

      {% block footer %}
        {% include "../partials/footer.html.njk" %}
      {% endblock %}

    </div>

    <div style="height: 0; width: 0; position: absolute; visibility: hidden;">
      {{ contents.svg['sprite.svg'].sprite }}
    </div>

    <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '50570251f5a1f57282000003');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
    </script>
  </body>
</html>
