<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="{{ contents.css["main.css"].url }}">
    <link rel=stylesheet href="https://use.typekit.net/gug4wmv.css">
    <link rel=preload href="{{ contents.images["pattern.svg"].url }}" as=image>
    <link rel=preload href="https://use.typekit.net/af/6c9c65/00000000000000003b9adf44/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3"
        as=font crossorigin>
    <link rel=preload href="https://use.typekit.net/af/d4bd37/00000000000000003b9adf46/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3"
        as=font crossorigin>
    <script src="{{ contents.js['main.js'].url }}" defer></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest-json.txt">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    {% block extraMetaData %}
      {% set description = page.description or page.html | striptags | truncate(255) %}
      {% set image = contents.images[page.metadata.image].url if page.metadata.image else '/android-chrome-512x512.png' %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@jsconfeu">
      <meta name="twitter:creator" content="@jsconfeu">
      <meta name="twitter:title" content="{{ page.title }}">
      <meta property="og:title" content="{{ page.title }}">
      {% if description %}
        <meta name="description" content="{{ description }}">
        <meta name="twitter:description" content="{{ description }}">
      {% endif %}
      <meta name="twitter:image" content="{{ url }}{{ image }}">
      <meta property="og:image" content="{{ url }}{{ image }}">
    {% endblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div class="layout-wrapper">

      {% block topbar %}
        {% include "../partials/topbar.html.njk" %}
      {% endblock %}

      <main class="main-wrapper bg-white page-{{ page.metadata.pageId }}">
        {% block header %}
          {% if page.metadata.title  %}
            <section class="grid">
              <div class="grid-item-center">
                <h1>
                  {% if page.metadata.bodyTitle %}
                    {{ page.metadata.bodyTitle }}
                  {% else %}
                    {{ page.metadata.title }}
                  {% endif %}
                </h1>
              </div>
            </section>
          {% endif %}
        {% endblock %}

        {% block content %}
          Sorry, nothing to see here 😗
        {% endblock %}
      </main>

      {% block footer %}
        {% include "../partials/footer.html.njk" %}
      {% endblock %}

    </div>
  </body>
</html>
