/* Default Links */
a {
  color: var(--evalblack);
  text-decoration: none;
  transition: all .25s ease-out;
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}

/* Default links on main content area */
.main-wrapper a,
.link--underline {
  border-bottom: 4px solid var(--returnrose);
  &:hover, &:focus {
    background-color: var(--returnrose);
  }
}

/* Links on dark background */
.link--white {
  color: var(--clearwhite);
  &:hover, &:focus {
    color: var(--returnrose);
  }
}

.link--promiselinen {
  color: var(--promiselinen);
  &:hover, &:focus {
    color: var(--returnrose);
  }
}

.link--tertiary {
  color: var(--evalblacklight);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  &:hover, &:focus {
    border-top: 4px solid var(--getdaycloud);
    border-bottom: 4px solid var(--getdaycloud);
    background-color: var(--getdaycloud);
  }
}

.link--nav {
  padding: .5rem 1rem;
  @media (--large) {
    display: inline-block;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.link--footer {
  display: block;
  padding: 1rem;
  @media (--small) {
    display: inline-block;
    padding: 1rem 1.5rem;
  }
}
