/* Default Links */
a {
  color: var(--evalblack);
  text-decoration: none;
  transition: all .25s ease-out;
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}

/* Links on dark background */
.link--white {
  color: var(--clearwhite);
  &:hover, &:focus {
    color: var(--returnrose);
  }
}

.link--underline {
  border-bottom: 4px solid var(--returnrose);
  &:hover, &:focus {
    background-color: var(--returnrose);
  }
}

.link--tertiary {
  color: var(--evalblacklight);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  &:hover, &:focus {
    border-top: 4px solid var(--getdaycloud);
    border-bottom: 4px solid var(--getdaycloud);
    background-color: var(--getdaycloud);
  }
}
