:root {
  font-size: 100%; /* 16px */
}

body {
  font-family: "jaf-domus", sans-serif;
  font-variant: diagonal-fractions;
  line-height: 1.666;
  letter-spacing: 0.025em;
  color: var(--evalblack);
  background-color: var(--promiselinen);
  background-image: url('../images/pattern.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input, button, textarea {
  font-family: "jaf-domus", sans-serif;
}

/* Typography */

p, ul, ol, blockquote {
  line-height: 1.6364;
}

p, ul, ol, blockquote {
  @media (--xsmall) {
    font-size: 1.375rem;
  }
}

main {
  @media (--xsmall) {
    font-size: 1.375rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1, .heading--massive {
  font-size: 3rem;
  line-height: .9375;
  margin-bottom: 2rem;
  @media (--xsmall) {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
  @media (--medium) {
    font-size: 6rem;
    line-height: .9444;
  }
}

h2, .h2 {
  font-size: 1rem;
  line-height: 1.625;
  @media (--xsmall) {
    font-size: 1.375rem;
  }
}

.heading--spaced {
  line-height: 1.625;
  text-transform: uppercase;
  letter-spacing: 3.78%;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 4px solid var(--evalblack);
  @media (--xsmall) {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}
