@import 'normalize.css';
@import 'tachyons';
@import '_vars-colors.css';
@import '_utility-backgrounds.css';
@import '_buttons.css';


/* USAGE */
/*
@media (--medium-ish) {
  p {
    background: red;
  }
}
this resolves to:
@media (min-width: 64em) {
  p {
    background:red;
  }
}
*/

/* mobile first media queries, use these whenever possible */

@custom-media --xsmall (width >= 30rem); /* 480px */
@custom-media --small (width >= 40rem); /* 640px */
@custom-media --medium (width >= 64rem); /* 1024px */
@custom-media --large (width >= 87.5rem); /* 1400px */
@custom-media --huge (width >= 110rem); /* 1600px */

:root {
  font-size: 100%; /* 16px */
  @media (--large) {
    font-size: 112.5%; /* 18px */
  }
  @media (--huge) {
    font-size: 125%; /* 20px */
  }
}

body {
  font-family: "JAF Domus", "jaf-domus", sans-serif;
  line-height: 1.666;
  letter-spacing: 0.025em;
  background-color: var(--returnrose);
  color: var(--evalblack);
  font-family: sans-serif;
  background-image: url('../images/pattern.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input, button, textarea {
  font-family: "JAF Domus", "jaf-domus", sans-serif;
}

/* Typography */

p {
  line-height: 1.6364;
}

/* Default Layout */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main-wrapper {
  width: 100%;
  min-width: 18.5rem;
  max-width: 60rem; /* 960px */
  margin-right: auto;
  margin-left: auto;
  background-color: var(--clearwhite);
}

/* Top Bar */
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.topbar-logo {
  justify-self: start;
  color: var(--clearwhite);
}

.topbar-nav {
  display: none;
  @media (--medium) {
    display: flex;
  }
}

.topbar-toggle {
  display: block;
  @media (--medium) {
    display: none;
  }
}

/* Footer */
.footer {
  padding: .5rem;
  @media (--medium) {
    padding: .75rem;
  }
}

/* Links */

a {
  color: var(--evalblack);
  text-decoration: none;
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}

.link--white {
  color: var(--clearwhite);
  &:hover, &:focus {
    color: var(--returnrose);
  }
}

.link--underline {
  border-bottom: 3px solid var(--returnrose);
  &:hover, &:focus {
    border-color: var(--callbackpink);
  }
}
